@import url('https://fonts.googleapis.com/css2?family=Abel&display=swap');

body{
    padding: 0;
    margin: 0;
    background-color: #e0a0a0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-family: 'Abel';
}

h1{
    padding: 20px;
    border:2px solid white;
    text-transform: uppercase;
}

p{
    padding: 5px;
    border: 2px solid white;
    height: 40px;
    justify-content: center;
    align-items: center;
    display: flex;
    font-size: 14pt;
}

#currentNumber{  
    height: 40px;
    width: 40px;
    display: flex;
    margin:  0 10px;
    border: 2px solid transparent;
   
    align-items: center;
    justify-content: center;
    color: blue;
    font-size: 18pt;
    font-style: italic;
}

button{
    margin: 6px;
    border: 2px solid transparent;
    height: 30px;
    width: 30px;
    border-radius: 50%; 
    background-color: rgb(197, 142, 142); 
    font-size: 14pt; 
    align-items: center;
    justify-content: center;

}


#counter{
    display: flex;
}

#zerar{
    background-color: rgb(175, 85, 85);

}